
<div class="lesson">
    <header>
        <h3 class="crimson">Урок 1 (ну что стали, танцуем!)</h3>
    </header>
    <p class="content">
    Первым делом надо обратить внимание на то, что любой аккорд который ты играешь можно разложить на ноты по отдельности - просто дергать струны не вместе а в каком нибудь разрозненном порядке - начиная с простых известных тебе переборов (6-ти звучный, 8-ми звучный, 124-битный и т.д.) :)
Эти дергания могут не ограничиваться одновременным задеванием только одной струны, а двух или трех и не обязательно соседних.
Для начала надо попробовать из простого аккорда (или каконибудь четырехаккордной песенки) выжать по максимуму разнообразных мотивов - ждазовый или блюзовый, классический пошустрее и занудный, какой нибудь кантри.
При всем при этом не зацикливаться надолго на найденном переборчике - искать новые - пускай голову продует ветер! И не бояться попасть не туда (главное чтобы самому нравилось что слышиться* )
Думаю в приложении 1 - будет примерно понятно что я имел ввиду под обыгрыванием аккорда. Можно просто обыгрывать без изменения - можно не стесняться менять некоторые нотки - применять всякие сдергивания и накрывания приглушения и уразы пальцами, яростные взвизгивания и томные вздохи, что угодно - ибо любые средства выразительности хороши))) 
Итак - какие тут хитрости или ответ на вопрос "почему у меня не получается так же?" - ничего хитрого - я играл три аккорда Em - G - D - может не получаться потому что пальцы ещё не свободно бегают, путаются и чувствуют себя как коровы на дискотеке, из-за того, что надо что-то фантазировать (новые ритмы, комбинации дергаемых нот) и внимание растекается между двумя процессами - придумывания и зажимания! 
Ещё трудности могут возникать из-за невладения приемами сдергивания и наоборот - НО! эта вся вся неловкость пройдет - после курса специальных и занудных упражнений которые будут освещены позже в программе - постепенно наши диско-коровы сами по себе станут довольно ловкими пластическими гимнастками хихи)) (Главное тут не заморачиваться "ну когда же это случится" - все не быстро и не медленно - все буит как надо)
* это наверное основная идея, которую не следует забывать когда тебя пытаются отогнать от инструмента неценители прекрасного, и которую стоит напрочь забыть если кажется что уже долго время ничего не получается ;)
    </p>
</div>