
<div class="lesson">
    <header>
        <h3 class="crimson">Урок 2 (ежики в тумане)</h3>
    </header>
    <p class="content">
    Фантазии на постоянную смену дергаемых нот и ритмов или даже аккордов не хватит!! И это факт! Для того чтобы при этом не становилось скучно играть и слушать это - надо помнить что у тебя правая рука - которая владеет много большим набором средств выразительности (ещё она конечно может помогать во время игры курить сигарету и пить чтонибудь некомпотное).
Что я имею ввиду - есть разные способы извлечения звука - они могут менять настроение четырем аккордам так - что мать родная их не узнает!
И это надо начать использовать! 
А именно: 
<ul class="crimson" style="list-style: none;">
    <li>
- Пальцы правой руки дергают струны задевая кончиками ногтей (громкий бойкий звук)
    <li>
- Пальцы правой руки дергают струны подушечками пальцем (мягкий звук, как злобный плюшевый медведь под твоей кроватью)
    <li>
- Ладонь правой руки лежит на струнах в самом их начале приглушая их (пиццикато или чтото вроде - настороженное звучание)
    <li>
- Разгильадо (хз как пишется))
    <li>
- Банальное изменение громкости за счет силы 
    <li>
- Неожиданные паузы тоже считаются
    <li>
- Дергания по всем струнам когда они приглешены левой рукой (такие мелкие вставочки)
    <li>
- де черт - их много) 
</ul>
Это все к тому - пробуй, дергай, дерзай, экспериментируй - струны за счет заведения))
    </p>
</div>