<div class="lesson">
    <header>
        <h3 class="crimson">Урок 3 (Пальцы, пальцы, разминаем)</h3>
    </header>
    <p class="content">Привет пипл! 

Давно не виделись, поэтому не смотря на наипонедельнейший из понедельных понедельник, я собираюсь обогатить вас порцией знаааний <span style="text-decoration: line-through;">глупых бесполезных буков</span> и может даже поднять настроение!

Ближе к делу. Речь пойдет об ошибках! Мной было замечено, что сложные переборы (пример: Квiти в волоссi) играешь ты кощунственно и беспрецендентно - одним большим пальцем правой руки. И что я могу сказать на это!? - Не смотря на множество успешных олдскульных рок старов, играющих двумя пальцами и не чувствующих, при этом, недостатка летящих из толпы бюстгалтеров, ЭТО надо прекращать! 
Это не так просто - кажется уже играешь одним этим пальцем и хорошо - зачем ломать себе голову и следить за правильной  аппликатурой (да да, ты не ослашалась)? Так вот - это стоит того!
Серьезно - я и сам не признаю и не молюсь как на библию нотную грамату (и вообще грамату, как ты заметила))), но это действительно дельных совет - каждый палец отвечает за свою струну, большой за басовую партию, остальные за нотки из основной партии!

Тут нужно немного прояснить - что такое басовая партия и на каких струнах она бывает? - бывает басовая партия спускается и до 2-й струны - тогда большой палец идет за ней. И как же её узнать из тысяч 16-ых и 32-ых болтающихся в ушах, спросишь ты? - Тут все просто - твоя музыкальная душа и пятки подскажут тебе, где басовая партия! (а чуть что, всегда можно уточнить у меня=)

Теперь об исключениях - опять же - твой ненасытный музыкальный дух - твой начальник - и если он чувствует что тут все надо дергать большим пальцем - то слушайся его (никто кроме него тебе не приказ!).

Почему он может так вдруг захотеть? Да потому что он чует, что концентрация* то разная - и это важно!

То-то же! Следи за этим и старайся делать так - это сильно поможет в свободной импровизационной вакханалии, не только выпендриться перед друзьями, но и получить от этого несказанное удовольствие, ибо игра твоя воистину станет свободнее и легче! :)

*Концентрация - настроение, атмосфера, цвет, запах... все синонимы или даже матерные слова могущие прийти в голову с целью попытаться описать неосязаемую консистенцию звука. (прим. автора)

И напоследок - этот дядя ясно дает понять - главное темперамент!</p>
</div>