<div class="lesson">
    <header>
        <h3 class="crimson">Урок 4 (или ищи скрытый смысл)</h3>
    </header>
    <p class="content">
    Приветик - я совет № 4 и лучше бы ты меня не находила. Ну а раз нашла - мучайся!))

Вот и настал тот час, которого все так долго ждали! Пора позаниматься практикой - сейчас я покажу тебе несколько ужаснейших скучных занудных советов, тьфу, упражнений!

Хочу сказать - смысл всего этого лишь в том, чтобы избавиться от бремени неуклюжих пальцев и позволить своей мысли, фантазиям мечтам и чувствам проникать сквозь пальцы к струнам и превращаться в звуки так быстро, как возникают они в душе, голове или ещё где-нибудь! 

Такой скорости конечно никому не добиться - это бывает только в легендах про шестиструнного самурая, но все же с опытом (не из-за занудного повторения этих упражнений, не из-за чтения гор учебников, и уж тем более не от этих сомнительно-полезных курсов) и только с опытом и душой - ты будешь становиться ближе и ближе к легендарному самураю! Ну а потом ты познаешь мудрость, и сможешь проделывать все что делала с гитарой - только уже с собаками, кошками, автомобилями.... (шутка)

Итак - упражнение номер раз!
(начну сразу не с самых простых - потому что ты делаешь хорошие успехи!)

Целевая аудитория: мизинец левой руки, который у обычных людей служит разве что для ковыряния в носу и оттопыривания во время держания кружки.

Принцип: играется чередованием указательного и среднего пальцев правой руки (потом можно подключить и безымянный), на всех струнах по очереди.

Цель: не набирать бешенный темп, а делать это с посильной скоростью - НО ровно! как на приложении - "упражнение раз"

Табулатура:    0--4--3--4--2--4--1--4--(и по кругу сначала с первой струны - выше до шестой и назад)

Кажется ерунда - но пятый ручной отросток (мизинчег) почувствует на своей шкуре, что может случится во время джема, если он не достаточно подготовлен!) Да и вообще - этот отросток следует держать в тонусе на всякий случай - то перед друзьями козырьнешь, взяв неожиданную нотку, то в носу козюля спряталась и не вылазит!


=))
</p>
</div>