{% extends 'layout.html.twig' %}

{% block content %}
    <div class="lesson">
        <header>
            <h3 class="crimson">Урок ещё не загружен!</h3>
        </header>
    </div>
{% endblock content %}