{% extends 'layout.html.twig' %}

{% block content %}
    <div class="lesson">
        <header>
            <h3 class="crimson">Дурной пример заразителен...</h3>
        </header>
        <p class="content">
            <ul>
                {% for lesson in lessons %}
                    <li>
                        {{ lesson.title }} <small><a href="/lessons/{{ lesson.lesson_id }}">Познать...</a></small>
                    </li>
                {% else %}
                    <li>
                        Никого...
                    </li>
                {% endfor %}
            </ul>
        </p>
    </div>
{% endblock content %}