{% extends 'layout.html.twig' %}

{% block content %}
    <div class="lesson">
        <header>
            <h3 class="crimson">Урок {{ lesson.number }} ({{ lesson.title }})</h3>
        </header>
        <p class="content">
            {{ lesson.text|raw }}
        </p>
    </div>
{% endblock content %}