body{
    background: #000000 url('../images/main/pattern-origami.png') repeat;
}
/* Header */
header.rr-header {
    background: #F3F3F3 url('../images/main/bg_header.png') repeat 0 -17px;
    height: 50px;
}
header.rr-header .stick {
    position: relative;
}

.boogie {
    position: relative;
    width: 600px;
    min-height: 250px;
    left: 50%;
    margin-left: -300px;
    margin-top: 70px;
}
.boogie > span {
    display: inline-block;
    color: #404040;
    float: left;
    width: 200px;
    text-align: center;

    font-family: Capture;
    line-height: 220px;
    font-size: 260px;
}
.boogie > .zero-cheese {
    background: url('../images/main/ratty_velvet.png') 50% 50% no-repeat;
    display: inline-block;
    width: 200px;
    height: 200px;
    float: left;
}
/* MESSAGE FOR PEOPLES */
.rr-main-info {
    top: 0;
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
}
.rr-main-info p {
    margin: 20px auto;
    color: #404040;
    font-family: Capture;
    line-height: 25px;
    font-size: 18px;
}
.rr-main-info p:first-child {
    font-size: 30px;
}
.rr-main-info p:first-child:first-letter {
    font-size: 50px;
    font-weight: bold;
}
.rr-error-message  {
    background-color: #F18A1A;
    position: relative;
    display: inline-block;
    width: 1240px;
    padding: 30px 50px;
    left: 50%;
    margin: 10px;
    margin-top: 0;
    margin-left: -620px;
    border: 1px #9B1E1E dashed;
    border-radius: 10px;
}
