.rr-flash-notice {
    padding: 10px 35px 10px 20px;
    text-align: left;
    color: #fff;

    &.success {
        background-color: #6AA63B;
        border-color: #006600;
    }
    &.error {
        background-color: #FF9F8E;
        border-color: #D52100;
    }
    
    &.warning {
        background-color: #FFB17C;
        border-color: #FF6600;
    }
    &.info {
        background-color: #6EDCFF;
        border-color: #0292C0;
    }
}
