@font-face{
    font-family: FrederickatheGreat;
    src: url("../fonts/FrederickatheGreat-Regular.ttf") format('truetype');
}
@font-face{
    font-family: OpenSansCondensed;
    src: url("../fonts/OpenSans-CondLight.ttf") format('truetype');
}
@font-face{
    font-family: SSM;
    src: url("../fonts/SS_Adec2.0_main.otf") format('truetype');
}
@font-face{
    font-family: Jura;
    src: url("../fonts/Jura-Light.ttf") format('truetype');
}
