@-webkit-keyframes light1move {
    0%, 100% {
        -webkit-transform: skew(22deg);
    }
    50% {
        -webkit-transform: skew(-16deg);
        border-bottom-width: 160px;
    }
}
@-moz-keyframes light1move {
    0%, 100% {
        -moz-transform: skew(22deg);
    }
    50% {
        -moz-transform: skew(-16deg);
        border-bottom-width: 160px;
    }
}
@-webkit-keyframes light1concmove {
    0%, 100% {
        left: 88px;
    }
    50% {
        left: -29px;
        margin-top:-10px;
    }
}
@-moz-keyframes light1concmove {
    0%, 100% {
        left: 88px;
    }
    50% {
        left: -29px;
        margin-top:-10px;
    }
}
@-webkit-keyframes light2move {
    0%, 100% {
    }
    50% {
        border-bottom-width: 170px;
    }
}
@-moz-keyframes light2move {
    0%, 100% {
    }
    50% {
        border-bottom-width: 170px;
    }
}
@-webkit-keyframes loadingpulse {
    0%, 100% {
    }
    50% {
        opacity: 0;
    }
}
@-moz-keyframes loadingpulse {
    0%, 100% {
    }
    50% {
        opacity: 0;
    }
}
@-webkit-keyframes light3move {
    0%, 100% {
        -webkit-transform: skew(-22deg);
    }
    50% {
        -webkit-transform: skew(16deg);
    }
}
@-moz-keyframes light3move {
    0%, 100% {
        -moz-transform: skew(-22deg);
    }
    50% {
        -moz-transform: skew(16deg);
    }
}
@-webkit-keyframes light3concmove {
    0%, 100% {
        left: -68px;
    }
    50% {
        left: 49px;
        border-left: 30px solid transparent;
        margin-top: -10px;
    }
}
@-moz-keyframes light3concmove {
    0%, 100% {
        left: -68px;
    }
    50% {
        left: 49px;
        border-left: 30px solid transparent;
        margin-top: -10px;
    }
}