.rr-loading-stage {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(21, 14, 17);
    padding-top: 13%;
    z-index: 10000;

    .rr-welcome {
        position: relative;
        width: 300px !important;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        font-family: Etud, 'Fredericka the Great', Arial, 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
        font-size: 70px;
        font-weight: 400;
        text-shadow: 0 2px 5px #333;
    }

    .rr-loading-message {
        color: white;
        font-family: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
        font-size: 18px;
        z-index: 10004;
        margin: 0 auto;
        position: relative;
        text-align: center;
        text-shadow: 0 2px 5px #333;
    }
}
