@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
@import url('./loading_stage_animation.css');

.rr-loading-stage{
    position: fixed;
    width: 100%;
    height: 100%;
    /*background-color: #000000;*/
    background: rgb(175,103,175); /* Old browsers */
/*background: rgb(169,3,41); /* Old browsers */*/
/*background: -moz-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */*/
/*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */*/
/*background: -webkit-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */*/
/*background: -o-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 12+ */*/
/*background: -ms-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */*/
/*background: radial-gradient(ellipse at center,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */*/

background: rgb(169,3,41); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%, rgba(117,2,10,1) 44%, rgba(43,0,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(117,2,10,1)), color-stop(100%,rgba(43,0,4,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(117,2,10,1) 44%,rgba(43,0,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(117,2,10,1) 44%,rgba(43,0,4,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(117,2,10,1) 44%,rgba(43,0,4,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(169,3,41,1) 0%,rgba(117,2,10,1) 44%,rgba(43,0,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#2b0004',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */





    /*background-color: rgba(43, 68, 83, 0.9);*/
    /*background-color: rgba(0, 0, 0, 0.7);*/
    z-index: 10000;
    /*box-shadow: 0px 0px 1000px 150px #2b4453 inset;*/
}
.rr-loading-stage .lights {
    width: 260px;
    height: 180px;
    margin-top: 13%!important;
    margin: 20px auto;
}
.rr-loading-stage .light {
    float: left;
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    margin: 0 20px;
}
.rr-loading-stage .light1 {
    border-bottom: 160px solid #3bbde1;
    -webkit-transform: skew(30deg,0);
    -moz-transform: skew(30deg,0);
    border-left: 50px solid transparent;
    border-right: 20px solid transparent;
    -webkit-animation: light1move 3s infinite;
    -moz-animation: light1move 3s infinite;
    z-index: 10002;
}
.rr-loading-stage .light2 {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 160px solid #ed65cd;
    margin-left: -30px;
    -webkit-animation: light2move 3s infinite;
    -moz-animation: light2move 3s infinite;
    z-index: 10003;
}
.rr-loading-stage .light3 {
    margin-left: -30px;
    border-bottom: 160px solid #9fdb33;
    -webkit-transform: skew(-30deg,0);
    -moz-transform: skew(-30deg,0);
    border-left: 20px solid transparent;
    border-right: 50px solid transparent;
    -webkit-animation: light3move 3s infinite;
    -moz-animation: light3move 3s infinite;
    z-index: 10002;
}

.rr-loading-stage .conc_group {
    clear: both;
}

.rr-loading-stage .conc {
    width: 80px;
    height: 20px;
    position: relative;
    border-radius: 100%;
    opacity: 0.75;
    top: -10px;
    float: left;
}

.rr-loading-stage .light1_conc {
    background-color: #8bf8ff;
    left: 0px;
    -webkit-animation: light1concmove 3s infinite;
    -moz-animation: light1concmove 3s infinite;
    z-index: 10000;
}

.rr-loading-stage .light2_conc {
    background-color: #ecc2c3;
    left: 10px;
    z-index: 10003;
}

.rr-loading-stage .light3_conc {
    background-color:#91c57f;
    left: 100px;
    -webkit-animation: light3concmove 3s infinite;
    -moz-animation: light3concmove 3s infinite;
    z-index: 10002;
}

.rr-loading-stage .rr-welcome {
    color: white;
    font-family: Etud, 'Fredericka the Great' Arial; 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
    font-size: 70px;
    font-weight: 400;
    position: relative;
    top: -130px;
    text-align: center;
    text-shadow: 0 2px 5px #333;
    width: 300px!important;
    z-index: 10004;
    margin: 0 auto;
    width: 154px;
}

.rr-loading-stage .rr-loading-message {
    color: white;
    font-family: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
    font-size: 18px;
    z-index: 10004;
    margin: 0 auto;
    position: relative;
    top: -120px;
    text-align: center;
    text-shadow: 0 2px 5px #333;
    -webkit-animation: loadingpulse 1.5s infinite;
    -moz-animation: loadingpulse 1.5s infinite;
}