/* Rotation of dropdown items */
ul.rr-top-menu > li.dropdown.expanded > ul > li{
    box-shadow: rgb(0, 0, 0) 0px 0px 10px 0px;

    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    -moz-transition: -moz-transform 0.1s ease-in-out;
    -o-transition: -o-transform 0.1s ease-in-out;
    -ms-transition: -ms-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;

    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
}
ul.rr-top-menu > li.dropdown.expanded > ul > li:hover{
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    /*box-shadow: 0 0 5px #ff0000;*/
}
ul.rr-top-menu > li.dropdown.expanded > ul > li:hover{
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
}
ul.rr-top-menu > li.dropdown.expanded > ul > li:nth-child(even){
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
}
ul.rr-top-menu > li.dropdown.expanded > ul > li:nth-child(even):hover{
    -webkit-transform:rotate(10deg);
    -moz-transform:rotate(10deg);
    -o-transform:rotate(10deg);
    -ms-transform:rotate(10deg);
}
ul.rr-top-menu > li.dropdown.expanded > ul > li:nth-child(3n){
    -webkit-transform:rotate(-1deg);
    -moz-transform:rotate(-1deg);
    -o-transform:rotate(-1deg);
    -ms-transform:rotate(-1deg);
}
ul.rr-top-menu > li.dropdown.expanded > ul > li:nth-child(3n):hover{
    -webkit-transform:rotate(7deg);
    -moz-transform:rotate(7deg);
    -o-transform:rotate(7deg);
    -ms-transform:rotate(7deg);
}
ul.rr-top-menu > li.dropdown.expanded > ul > li:nth-child(5n){
    -webkit-transform:rotate(1deg);
    -moz-transform:rotate(1deg);
    -o-transform:rotate(1deg);
    -ms-transform:rotate(1deg);
}
ul.rr-top-menu > li.dropdown.expanded > ul > li:nth-child(5n):hover{
    -webkit-transform:rotate(-1deg);
    -moz-transform:rotate(-1deg);
    -o-transform:rotate(-1deg);
    -ms-transform:rotate(-1deg);
}