/* Components */
@import "./../components/bootstrap/less/bootstrap";
@import "./../components/font-awesome/less/font-awesome";
@import "./../components/fotorama/fotorama.css";
@import "./../components/normalize.css/normalize.css";

/** Custom styles */
@import "variables";
@import "fotorama";
@import "flashes";

/* Main styles */
*, *:after, *::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
html, body{height: 100%;}
body{
    margin: 0;
    padding: 0;
    color: #fff;
}
h3 {
    display: inline-block;
    margin: 20px 0px;
    font-size: 3em;
}
a {text-decoration: none;}
p, span, a, h1, h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}
/* End Main styles */


.rr-section {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 120vh;
    font-family: arial, sans-serif;
    line-height: normal;
    background-color: #401A41;

    .rr-section-content {
        width: 100%;
        height: 100%;
    }

    p.content {
        color: #fff!important;
        font-family: 'Znikomit', 'Vetka', sans-serif;
        font-weight: 800;
        font-size: 25px;
    }

    &#first {
        height: 90vh;
        min-height: 400px;
        background-image: url('../images/promo/1_sm.JPG');
        background-size: cover;
        background-position: 50% 0%;
        background-repeat: no-repeat;
        background-attachment: fixed;

        .rr-section-content {
            padding-top: 20vh;
            background-color: rgba(0,0,0,0.5);
        }
    }

    &#second {
        height: auto;
        min-height: 100vh;

        .rr-section-content {
            padding: 0 0 50px;
        }
    }

    &#third {
        height: auto;
        background-image: url('../images/gallery/thumbs/rr-gallery-2.jpg');
        background-size: cover;
        background-position: 50% 0%;
        background-repeat: no-repeat;
        background-attachment: fixed;

        .rr-section-content {
            height: 100%;
            padding: 60px 10%;
            background-color: rgba(0,0,0,0.5);
        }
    }

    &#fifth {
        height: auto;
        background-image: url('../images/promo/4_sm.JPG');
        background-size: cover;
        background-position: 50% 0%;
        background-repeat: no-repeat;
        background-attachment: fixed;

        .rr-section-content {
            padding: 20px;
            background-color: rgba(0,0,0,0.5);
        }
    }
}

.btn-orange {
    background-color: @brand-orange;
    border: 1px solid @brand-orange;
    color: #fff;

    &:hover {
        background-color: transparent;
        color: @brand-orange;
    }
}

.border-right {
    border-right: 1px solid #ffffff;
}

input:focus, textarea:focus {
    color: @brand-orange;
}

img.rr-promo {
    border-radius: 50%;

    filter: grayscale(90%);
    -webkit-filter: grayscale(90%);
    -moz-filter: grayscale(90%);
    -o-filter: grayscale(90%);
    -ms-filter: grayscale(90%);

    &:hover {
        cursor: url("../images/main/zoomin_cursor.png") 30 30, auto;
        filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        -ms-filter: none;
    }
}

.rr-header {
    /* Rats records logo */
    .rr-logo > a > span:after {
        content: 'rats records';
    }
    @media (max-width: 720px) {
        .rr-logo > a > span:after {
            content: 'rr'
        }
    }
    .rr-logo > a {
        color: #ff6c00;
        text-shadow: 2px 2px 0px #ffffff;
        font-weight: bold;
        font-size: 4em;
        line-height: 50px;
        letter-spacing: -4px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            border: none;
        }

        span {
            font-family: 'Fredericka the Great', Arial!important;
        }
    }
    .navbar-toggle {
        padding: 0px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 33px;
        color: #fff;
    }
}

/* Footer main */
.rr-footer{
    position: relative;
    color: #ffffff;
    width: 100%;
    height: 120px;
    z-index: 1000;

    .rr-footer-list {
        margin: 20px 30px;

        li {
            margin-top: 5px;

            i.fa {
                width: 10px;
                margin-right: 10px;
            }
            a {
                color: #545454;
                font-size: 12px;

                &:hover {
                    color: @brand-orange;
                    text-decoration: none;
                }
            }
        }
    }

    .copyright {
        position: absolute;
        width: 250px;
        text-align: center;
        padding-top: 20px;
        right: 30px;
        letter-spacing: 1px;
        font-size: 9px;

        a {
            font-family: Arial;
            width: 10px;
            display: inline-block;
            position: relative;
            color: #fff;
            margin-left: 4px;

            &:hover {
                border: none!important;
                text-decoration: none;
            }
            &.number {
                width: 44px;
            }
        }

        /* Color classes*/
        .red {background-color: rgba(213, 33, 0, 0.7);}
        .orange {background-color: rgba(255, 102, 0, 0.7);}
        .yellow {background-color: rgba(251, 199, 0, 0.7);}
        .green {background-color: rgba(106, 166, 59, 0.7);}
        .dark-green {background-color: rgba(0, 102, 0, 0.7);}
        .blue {background-color: rgba(2, 146, 192, 0.7);}
        .blue-main {background-color: rgba(80, 53, 135, 0.7);}
        .blue-dark {background-color: rgba(2, 41, 255, 0.7);}
        .purple {background-color: rgba(81, 34, 180, 0.7);}
    }
}

/* Icons */
.rr-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
}
.rr-icon.remove-circle:before {
    content: "\e088";
}
.rr-icon:empty {
    width: 1em;
}
/* End Icons */

/* Background color */
.red {background-color: #D52100;}  
.orange {background-color: #FF6600;}  
.yellow {background-color: #FBC700;}  
.green {background-color: #6AA63B;}  
.dark-green {background-color: #006600;}
.blue {background-color: #0292C0;}
.blue-main {background-color: #503587;}  
.blue-dark {background-color: #0229ff;}  
.purple {background-color: #5122B4;}  
.gray {background-color: #6b686e;}
/* End Background color */