@keyframes smile_rotation{
    from {transform:rotate(0deg)}
    70% {transform:rotate(120deg)}
    to {transform:rotate(90deg)}
}

@-webkit-keyframes smile_rotation{
    from {-webkit-transform:rotate(0deg)}
    70% {-webkit-transform:rotate(120deg)}
    to {-webkit-transform:rotate(90deg)}
}
@-moz-keyframes smile_rotation{
    from {-moz-transform:rotate(0deg)}
    70% {-moz-transform:rotate(120deg)}
    to {-moz-transform:rotate(90deg)}
}
@-o-keyframes smile_rotation{
    from {-o-transform:rotate(0deg)}
    70% {-o-transform:rotate(120deg)}
    to {-o-transform:rotate(90deg)}
}


@keyframes smile_reset{
    from {transform:rotate(0deg)}
    70% {transform:rotate(120deg)}
    to {transform:rotate(90deg)}
}

@-webkit-keyframes smile_reset{
    from {-webkit-transform:rotate(0deg)}
    70% {-webkit-transform:rotate(120deg)}
    to {-webkit-transform:rotate(90deg)}
}
@-moz-keyframes smile_reset{
    from {-moz-transform:rotate(0deg)}
    70% {-moz-transform:rotate(120deg)}
    to {-moz-transform:rotate(90deg)}
}
@-o-keyframes smile_reset{
    from {-o-transform:rotate(0deg)}
    70% {-o-transform:rotate(120deg)}
    to {-o-transform:rotate(90deg)}
}

span.smile{
    position: relative;
    display: inline-block;
}
span.smile.rotated{
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);

    -webkit-animation:smile_rotation 0.7s ease-in-out;
    -moz-animation:smile_rotation 0.7s ease-in-out;
    -o-animation:smile_rotation 0.7s ease-in-out;
    animation:smile_rotation 0.7s ease-in-out;
}