/*@import url('http://fonts.googleapis.com/css?family=Amatic+SC');
@import url('http://fonts.googleapis.com/css?family=Amatic+SC');
@import url('http://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('http://fonts.googleapis.com/css?family=Damion');*/
@import url('http://fonts.googleapis.com/css?family=Fredericka+the+Great');
/*@import url('http://fonts.googleapis.com/css?family=Oswald');*/

@font-face{
    font-family: 'Glyphicons Halflings';
    src: url('http://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
    src: url('http://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('http://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('http://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('http://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg')
}
@font-face{
    font-family: Cyrillic_Grunge;
    src: url("../fonts/capture.ttf") format('truetype');
}
@font-face{
    font-family: Etud;
    src: url("../fonts/etud.ttf") format('truetype');
}
@font-face{
    font-family: LoveHardLive;
    src: url("../fonts/BHLB.ttf") format('truetype');
}
@font-face{
    font-family: Capitalist;
    src: url("../fonts/capitalist.ttf") format('truetype');
}
@font-face{
    font-family: Durka;
    src: url("../fonts/Durazky.otf") format('opentype');
}
@font-face{
    font-family: Gaslight;
    src: url("../fonts/Gaslight - MNSTRLine.otf") format('opentype');
}
@font-face{
    font-family: Znikomit;
    src: url("../fonts/ZnikomitNo25.otf") format('opentype');
}
@font-face{
    font-family: Stiff;
    src: url("../fonts/Stiff Staff.otf") format('opentype');
}
@font-face{
    font-family: Etud;
    src: url("../fonts/etud.otf") format('opentype');
}
@font-face{
    font-family: Vetka;
    src: url("../fonts/Vetka.otf") format('opentype');
}


::selection {
    background: #E6CE1D; /* Safari */
    }
::-moz-selection {
    background: #E6CE1D; /* Firefox */
}
*, *:after, *::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
h3 {
    margin: 20px 0px;
}
a {
    color: #5E383F;
    text-decoration: none;
}
a:visited {
    color: #5E383F;
}
a:hover {
    color: #fff;
    border-bottom: 1px #fff dotted;
}
.rr-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
}
.rr-icon.remove-circle:before {
    content: "\e088";
}
.rr-icon:empty {
    width: 1em;
}

/* Notice style */
.rr-flash-notice {
    position: relative;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Znikomit', sans-serif;
    font-weight: 800;
    padding: 15px;
    width: 98%;
    margin: 0 1%;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
}
    .rr-flash-notice .rr-icon {
        position: absolute;
        display: inline-block;
        width: 30px;
        height: 30px;
        top: 50%;
        margin-top: -15px;
        line-height: 30px;
        right: 0;
    }
    .rr-flash-notice .rr-icon:hover {
        border: none;
        cursor: pointer;
        color: #fff!important;
    }

    .rr-flash-notice.success {
        background-color: #6AA63B;
        border-color: #006600;
        color: #006600;
    }
    .rr-flash-notice.success .rr-icon {
        color: #006600;
    }
    .rr-flash-notice.error {
        background-color: #FF9F8E;
        border-color: #D52100;
        color: #D52100;
    }
    .rr-flash-notice.error .rr-icon {
        color: #D52100;
    }
    .rr-flash-notice.warning {
        background-color: #FFB17C;
        border-color: #FF6600;
        color: #FF6600;
    }
    .rr-flash-notice.warning .rr-icon {
        color: #FF6600;
    }
    .rr-flash-notice.info {
        background-color: #6EDCFF;
        border-color: #0292C0;
        color: #0292C0;
    }
    .rr-flash-notice.info .rr-icon {
        color: #0292C0;
    }
/* End notice style */

.rr-container {
    min-height: 720px;
    position: relative;
    overflow: hidden;
}
    .rr-container hr {
        margin: 0;
        padding: 0;
        border-color: #333333;
        background-color: #333333;
        color: #333333;
    }
    /* Header */
    header.rr-header {
        background: #F3F3F3 url('../images/main/bg_header.png') repeat 0 -17px;
        height: 300px;
    }
        header.rr-header .stick {
            position: fixed;
            background: #F3F3F3 url('../images/main/bg_header.png') repeat 0 -17px;
            box-shadow: 0 5px 13px 0px #000;
            height: 50px;
            width: 100%;
            z-index: 100;
        }
            /* Rats records logo */
            .rr-logo {
                display: inline-block;
                float: left;
            }
            .rr-logo > a > span:after {
                content: 'rats records'
            }
            @media (max-width: 720px) {
                .rr-logo > a > span:after {
                    content: 'rr'
                }
            }
            .rr-logo > a {
                color: #503587;
                font-family: 'Fredericka the Great', Arial;
                text-shadow: 2px 2px 0px #ffffff;
                font-weight: bold;
                font-size: 4em;
                line-height: 50px;

                letter-spacing: -4px;
                
                text-transform: uppercase;
                text-decoration: none;
            }
            .rr-logo > a:hover {
                color: #ff6c00;
                border: none;
            }

            /* Main menu with dropdown items */
            ul.rr-top-menu {
                right: 20px;
            }
            ul.rr-top-menu, 
            ul.rr-top-menu > li.dropdown > ul {
                position: absolute;
                display: block;
                list-style-type: none;

                top: 0;

                padding: 0;
                margin: 0;
            }
            ul.rr-top-menu > li.dropdown > ul {
                z-index: 10;
            }
            ul.rr-top-menu li {
                width: 160px;
                height: 50px;
                float: left;
                text-align: center;  
                overflow: hidden;  
            }
            ul.rr-top-menu > li.dropdown > ul > li {
                position: absolute;
            }
            ul.rr-top-menu a:hover {
                border: none;
            }
            ul.rr-top-menu > li:not(.dropdown) a:hover {
                /*background-color: rgba(0, 0, 0, 0.5);*/
                background-color: rgba(129, 85, 218, 0.5);
            }
            ul.rr-top-menu a {
                position: relative;
                font-family: 'Stiff';
                letter-spacing: 1px;
                display: block;
                width: 100%;
                height: 100%;
                color: #FFF;
                text-decoration: none;
                /*text-shadow: 0 0 1px rgba(2,2,2,1);*/

                line-height: 50px;  
            }
            ul.rr-top-menu > li.dropdown > a {
                z-index: 20;
            }
            ul.rr-top-menu > li.dropdown:hover > a {
                /*background: #ff6c00;*/
            }
            ul.rr-top-menu > li.dropdown > a::before {
                content: '';

                position: relative;
                display: inline-block;
                margin-right: 10px;

                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 5px 0 5px 8px;
                border-color: transparent transparent transparent rgba(255, 255, 255, .7);

                transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
            }
            ul.rr-top-menu > li.dropdown.expanded > a::before{
                transform: rotate(810deg);
                -webkit-transform: rotate(810deg);
                -moz-transform: rotate(810deg);
                -ms-transform: rotate(810deg);
                -o-transform: rotate(810deg);

                transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
            }

        /* MESSAGE FOR PEOPLES */
        .rr-main-info {
            position: relative;
            width: 98%;
            padding: 30px;
            float: left;
            top: 50px;
        }

        .rr-main-info pre,
        .rr-main-info p,
        .rr-main-info ul {
            color: #ffffff;
            font-family: Cyrillic_Grunge;
            line-height: 25px;
            font-size: 18px;
        }
        .rr-main-info ul {
            list-style: none;
            display: inline-block;
        }
        .rr-main-info ul li {
            display: inline-block;
        }
        span.capital-small {
            font-size: 30px;
        }
        span.capital {
            font-size: 50px;
        }

    /* Section between header & footer */
    section.rr-content {
        padding-bottom: 60px;
    }
        .lesson {
            margin: 20px 100px;
            font-family: arial, sans-serif;
            line-height: normal;
            text-align: center;
        }
        .lesson p.content {
            color: #333;
            font-family: 'Znikomit', 'Vetka', sans-serif;
            font-weight: 800;
            font-size: 25px;
        }

        .rainbow-section {
            display: inline-block;
            position: relative;
            width: 100%;
            min-height: 700px;
            margin: 0;
            font-family: arial, sans-serif;
            line-height: normal;
            /*float: left;*/
            background-color: rgba(0, 0, 0, 0);
            background-image: url('../images/main/pattern-origami.png');
            background-repeat: repeat;
            background-attachment: fixed!important;
        }
        .rainbow-section .section-content {
            /*position: absolute;*/
            display: inline-block;
            width: 100%;
            padding: 10% 20px;
            height: auto;
            text-align: center;
        }
        .rainbow-section.full .section-content {
            padding: 0;
        }
        .rainbow-section.email .section-content {
            padding-top: 50px;
        }
        .rainbow-section p.content {
            color: #fff!important;
            font-family: 'Znikomit', 'Vetka', sans-serif;
            font-weight: 800;
            font-size: 25px;
        }

        .gallery .content {
            position: relative;
        }

        .rr-gallery-holder {
            position: relative;
            overflow: visible!important;
        }

        /* Fotorama customization */
        .fotorama__active .fotorama__dot {
            background: #A5CBD6!important;
        }
        .fotorama__dot {
            background: #69A5B6!important;
            width: 12px!important;
            height: 12px!important;
            border-radius: 50%!important;
            border: 1px solid #69A5B6!important;
        }
        .fotorama__arr {
            background: #ff6c00!important;
            box-shadow: 0px 0px 10px 0px #000;
            text-align: center;
            font-size: 16px;
            line-height: 80px;
            width: 80px!important;
            height: 80px!important;
            border-radius: 50%;
        }
        .fotorama__arr:hover {
            background: #ff6c00!important;
        }
        .fotorama__arr:before {
            font-family: 'Glyphicons Halflings';
            -webkit-font-smoothing: antialiased;
        }
        .fotorama__arr.fotorama__arr--next {
            margin-right: -40px!important;
            text-indent: -33px;
        }
        .fotorama__arr.fotorama__arr--next:before {
            content: "\e080";
        }
        .fotorama__arr.fotorama__arr--prev {
            margin-left: -40px!important;
            text-indent: 33px;
        }
        .fotorama__arr.fotorama__arr--prev:before {
            content: "\e079";
        }
        /* End fotorama customization */

        /* Contact Form */
        .rr-contact-form {
            position: relative;
            width: 880px;
            left: 50%;
            margin-left: -440px;
            text-align: left;
        }
        .rr-contact-form .errors .error {
            display: block;
            background-color: #F18A1A;
            height: 25px;
            margin: 0;
            padding: 5px 10px;
            font-style: italic;
            text-align: start;

            box-shadow: 0px 1px 7px -1px;
            -webkit-box-shadow: 0px 1px 7px -1px;
            -moz-box-shadow: 0px 1px 7px -1px;
            -o-box-shadow: 0px 1px 7px -1px;
        }
        .rr-contact-form .errors {
            position: absolute;
            width: 100%;
            height: 25px;
            top: -19px;
            margin-left: 13px;
        }
        .rr-contact-form .errors:after {
            content: '';

            position: absolute;
            display: block;
            background-color: #9B1E1E;
            width: 20px;
            height: 16px;
            top: 12px;
            right: -3px;
            float: right;
            z-index: -1;

            transform: skew(-10deg);
            -webkit-transform: rotate(-45deg) skew(-45deg);
            -moz-transform: rotate(-45deg) skew(-45deg);
            -o-transform: rotate(-45deg) skew(-45deg);
        }
        .rr-contact-form > section {
            position: relative;
            display: inline-block;
            width: 100%;
            margin: 20px auto 0;
            padding-top: 10px;
        }
        .rr-contact-form > section.textarea {
            margin-top: 11px;
        }
        .rr-contact-form > section.controls {
            margin: 30px auto 0;
            padding: 0;
        }
        .rr-contact-form > section > label {
            cursor: pointer;
            color: #333;
            font-family: 'Znikomit', 'Vetka', sans-serif;
            font-weight: 800;
            font-size: 20px;
            display: inline-block;
            text-align: left;
            width: 200px;
        }
        .rr-contact-form > section > div.field {
            position: relative;
            display: inline-block;
        }
        .rr-contact-form > section > div.field.error input,
        .rr-contact-form > section > div.field.error textarea {
            border-color: #F18A1A;
        }
        .rr-contact-form > section input,
        .rr-contact-form > section textarea {
            outline: none;
            color: #5E383F;
            font-family: 'Znikomit', 'Vetka', sans-serif;
            height: 40px;
            line-height: 30px;
            font-size: 23px;
            font-weight: 800;
            padding: 5px 10px;
            width: 460px;
            max-width: 580px;

            border: 1px #CACACA solid;
            border-radius: 11px;
        }
        .rr-contact-form > section textarea {
            height: 150px;
        }
        .rr-contact-form button {
            border: 1px #333 dashed;
            color: #000;
            background: rgba(0, 0, 0, 0);
            position: absolute;
            left: 50%;
            height: 52px;
            top: 8px;
            margin-left: -80px;
        }
        .rr-contact-form button:hover {
            background: rgba(0, 0, 0, 0.5);
            color: #FBC700;
        }

    /* Footer main */
    footer.rr-footer{
        position: absolute;
        background: #F3F3F3 url('../images/main/bg_footer.png') repeat;
        color: #ffffff;
        bottom: 0;
        width: 100%;
        height: 60px;
    }
        footer.rr-footer .copyright{
            position: absolute;
            width: 400px;
            bottom: 0;
            text-align: center;
            padding-bottom: 19px;
            right: 0;
            letter-spacing: 3px;
            font-size: 15px;
        }
        footer.rr-footer .copyright a {
            width: 11px;
            display: inline-block;
            text-align: right;
            position: relative;
            color: #fff;
        }
        footer.rr-footer .copyright a:hover {
            border: none!important;
        }
        footer.rr-footer .copyright a.number {
            width: 44px;
        }

p {
    padding: 0px 5px;  
}

.btn-submit {
    width: 160px;
    height: 40px;
    line-height: 30px;
    font-size: 20px;
    padding: 7px 13px;
    border: none;
    /*border-radius: 6px;*/
    color: #fff;
}
  
/* Background color classes*/  
.red {background-color: #D52100;}  
.orange {background-color: #FF6600;}  
.yellow {background-color: #FBC700;}  
.green {background-color: #6AA63B;}  
.dark-green {background-color: #006600;}
.blue {background-color: #0292C0;}
.blue-main {background-color: #503587;}  
.blue-dark {background-color: #0229ff;}  
.purple {background-color: #5122B4;}  
.gray {background-color: #999;}

/*.rainbow-section.red {background: #D52100 url('../images/main/pattern-1n54.png') repeat;}  */
.rainbow-section.red {background: #D52100 url('../images/main/pattern-red.png') repeat;}  
/*.rainbow-section.red .section-content{background-color: rgba(213, 33, 0, 0.5);}  */
/*.rainbow-section.orange {background: #FF6600 url('../images/main/pattern-4phc.png') repeat;}  */
.rainbow-section.orange {background: #FF6600 url('../images/main/pattern-orange.png') repeat;}  
/*.rainbow-section.orange {background-color: rgba(255, 102, 0, 0.5);}  */
/*.rainbow-section.yellow {background: #FBC700 url('../images/main/pattern-9kim.png') repeat;}  */
/*.rainbow-section.yellow {background: #FBC700 url('../images/main/pattern-9vlr.png') repeat;}  */
.rainbow-section.yellow {background: #FBC700 url('../images/main/pattern-yellow.png') repeat;}  
/*.rainbow-section.yellow {background-color: rgba(251, 199, 0, 0.5);}*/
.rainbow-section.green {background: #6AA63B url('../images/main/pattern-green.png') repeat;}  
/*.rainbow-section.green {background-color: rgba(106, 166, 59, 0.5);}  */
.rainbow-section.blue {background: #0292C0 url('../images/main/pattern-blue.png') repeat;}  
/*.rainbow-section.blue {background-color: rgba(2, 146, 192, 0.5);}*/
.rainbow-section.blue-dark {background: #0229ff url('../images/main/pattern-blue-dark.png') repeat;}  
/*.rainbow-section.blue-dark {background-color: rgba(2, 41, 255, 0.5);}*/
.rainbow-section.purple {background: #5122B4 url('../images/main/pattern-purple.png') repeat;}  
/*.rainbow-section.purple {background-color: rgba(81, 34, 180, 0.5);}*/



.crimson {color: rgb(153, 51, 153);}
.retro {
    font-family: 'Znikomit', sans-serif;
    font-size: 40px;
    color: #333;
}
.gallery .retro {
    color: #fff;
}
.retro.shade {
    text-shadow: 1px 1px 0px #f0e8db, 3px 3px 0px #6c5257;
}
