/* Redeclared variables */

@fa-font-path: "./../components/font-awesome/fonts";

//** Load fonts from this directory.
@icon-font-path: "./../components/bootstrap/fonts/";

@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

//** Background color for `<body>`.
@body-bg: #100d0e;
@gray-light: #eeeeee;

@brand-primary: #5122B4;
@brand-danger: #D52100;
@brand-orange: #ff6c00;

@link-color: #ffffff;
@link-hover-color: @brand-orange;
//** Link hover decoration.
@link-hover-decoration: underline;

//** Number of columns in the grid.
@grid-columns: 12;

// Large screen / wide desktop
@container-large-desktop: 100%!important;

@font-size-base: 18px;

// Basics of a navbar
@navbar-height: 50px;
@navbar-default-bg: #231B1E;
@navbar-margin-bottom: 0px;

@navbar-default-link-color: #fff;
@navbar-default-link-hover-color: @brand-orange;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-color: @brand-orange;
@navbar-default-link-active-bg: transparent;

@navbar-default-color: #fff;
@navbar-default-border: transparent;

@navbar-default-toggle-hover-bg:           transparent;
@navbar-default-toggle-border-color:       transparent;

//=== Shared nav styles
@nav-link-padding: 10px 5px;

//== Wells
@well-bg: #f2f2f2;
@well-border: none;

//== Modals
//** Padding applied to the modal title
@modal-title-padding: 0px;
//** Padding applied to the modal body
@modal-inner-padding: 15px 40px;
//** Modal backdrop background color
@modal-backdrop-bg:           #fff;
//** Modal backdrop opacity
@modal-backdrop-opacity:      .9;
//** Modal header border color
@modal-header-border-color:   transparent;

// Inputs
@input-bg: transparent;
@input-color: #fff;
@input-border: #fff;
@input-border-focus: @brand-orange;
@input-color-placeholder: #999;