<header>
    <h3 class="retro shade">
        Что тут происходит?
    </h3>
</header>
<p class="content">
    Личное пространство, студия звукозаписи или просто склад разных вещей где я провожу большую часть свободного времени.
    Место где приятно посидеть за <s>чашечкой чаю</s>
    с джентльменами и милыми леди, не что иное, как мастеская, в которой по углам разбросано вдохновение, где я создаю музыку,
    записывая её и делясь с Вами!
    Тут Вы найдете записи, фотографии и немного философии.
    Добро пожаловать!
</p>