<p class="content">
    "Личное пространство. Студия звукозаписи. Просто склад разных вещей. <br/>
    Место где приятно посидеть за <s>чашечкой чаю</s>, 
    не что иное, как мастеская, в которой мы работаем над поиском вдохновения,
    записываем его и делимся с Вами!
    Тут Вы найдете записи, фотографии и немного философии.
    Добро пожаловать!"
</p>
<p class="author">— Арт</p>