<header>
    <h3 class="retro shade">
        Пишите письма
    </h3>
</header>
<div class="container-fluid">
    <div class="hidden-xs-down col-sm-6 col-md-6 col-lg-6 border-right">
        <div class="media">
            <p class="content">
                Есть что сказать? 
                Хотите хотите заглянуть в гости?
                Порисовать на стене?
                Пишите! Мы ответим!
            </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <form action="/mail_me" id="email-us" method="post" class="rr-contact-form" novalidate="novalidate">
            <fieldset class="form-group">
                <label for="email">Email</label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control form-control-lg"
                    maxlength="100"
                    value="{{ data['email']|default('') }}"
                />
            </fieldset>
            <fieldset class="form-group">
                <label for="name">От кого? *</label>
                <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-control form-control-lg"
                    maxlength="100"
                    value="{{ data['name']|default('') }}"
                />
            </fieldset>
            <fieldset class="form-group">
                <label for="feedback">Что передать? *</label>
                <textarea
                    name="feedback"
                    id="feedback"
                    class="form-control form-control-lg"
                    maxlength="6000"
                >{{ data['feedback']|default('') }}</textarea>
            </fieldset>
            <fieldset class="form-group">
                <button class="btn btn-lg btn-orange rr-submiter" type="submit">
                    <span class="submit">Отправить</span>
                    <span class="submitted">Спасибо <span class="smile">=)</span></span>
                </button>
            </fieldset>
        </form>
    </div>
</div>
