<div class="gallery">
    <header>
        <h3 class="retro">
            Фото
        </h3>
    </header>
    <div id="rr-gallery" class="rr-gallery-holder"
        data-width="100%"
        data-height="500"
        data-loop="true"
        data-allowfullscreen="native"
        data-arrows="true"
        data-click="true"
        data-swipe="true"
        data-keyboard="true"
        data-nav="thumbs"
    >
        {% set gallery_image_pattern = 'app/public/images/gallery/' %}
        {% for number in range(1, 6) %}
            <a href="{{ gallery_image_pattern ~ 'thumbs/rr-gallery-' ~ number }}.jpg"
                data-thumb="{{ gallery_image_pattern ~ 'thumbs/rr-gallery-' ~ number }}.jpg"
            ></a>
        {% endfor %}
    </div>
</div>