<header>
    <h3 class="retro shade">
        Что тут происходит?
    </h3>
</header>
<p class="content">
    Личное пространство. Студия звукозаписи. Просто склад разных вещей.
    Место где приятно посидеть за <s>чашечкой чаю</s>
    с джентльменами и милыми леди, не что иное, как мастеская, в которой я работаю над поиском вдохновения,
    записываю его и делюсь с Вами!
    Тут Вы найдете записи, фотографии и немного философии.
    Добро пожаловать!
</p>