<header>
    <h3 class="retro shade">
        Записи
    </h3>
</header>
<div class="content">
    <object
        height="450"
        width="80%"
        id="rr_player"
        classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
    >
        <param name="movie" value="http://player.soundcloud.com/player.swf?&enable_api=true&object_id=rr_player&url=https%3A%2F%2Fsoundcloud.com%2Fvarloc2000%2Fsets"></param>
        <param name="allowscriptaccess" value="always"></param>
        <embed
            allowscriptaccess="always"
            height="450"
            name="rr_player"
            src="http://player.soundcloud.com/player.swf?enable_api=true&object_id=rr_player&url=https%3A%2F%2Fsoundcloud.com%2Fvarloc2000%2Fsets" type="application/x-shockwave-flash" width="80%" name="rr_player"
        ></embed>
    </object>
</div>