<header>
    <h3 class="retro shade">
        Стоит послушать!
    </h3>
</header>
<div class="content">
    <iframe width="80%" height="550" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/91141719&amp;color=7c327e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</div>