<footer class="rr-footer">
    <div class="container-fluid">
        <ul class="rr-footer-list list-unstyled list-inline">
            <li>
                <a href="https://soundcloud.com/varloc2000" target="_blank" title="SoundCloud">
                    <i class="fa fa-soundcloud"></i>
                </a>
            </li>
            <li>
                <a href="https://vk.com/varloc2000" target="_blank" title="VK">
                    <i class="fa fa-vk"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCQUb_v_p6BRpeAgaciPokGQ" target="_blank" title="YouTube">
                    <i class="fa fa-youtube"></i>
                </a>
            </li>
        </ul>
        <div class="copyright pull-right">
            <small>
                <a href="#first" class="red rr-scroller">v</a>
                <a href="#orange" class="orange rr-scroller">a</a>
                <a href="#yellow" class="yellow rr-scroller">r</a>
                <a href="#green" class="green rr-scroller">l</a>
                <a href="#blue" class="blue rr-scroller">o</a>
                <a href="#blue-dark" class="blue-dark rr-scroller">c</a>
                <a href="#purple" class="number purple rr-scroller">2000</a> (2013 - {{ 'now'|date('Y') }}) &copy;
            </small>
        </div>
    </div>
</footer>