<footer class="rr-footer">
    <div class="container-fluid">
        <ul class="rr-footer-list list-unstyled list-inline">
            <li>
                <a href="https://soundcloud.com/varloc2000" target="_blank" title="SoundCloud">
                    <i class="fa fa-soundcloud"></i>
                </a>
            </li>
            <li>
                <a href="https://vk.com/varloc2000" target="_blank" title="VK">
                    <i class="fa fa-vk"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCQUb_v_p6BRpeAgaciPokGQ" target="_blank" title="YouTube">
                    <i class="fa fa-youtube"></i>
                </a>
            </li>
        </ul>
        <div class="copyright pull-right">
            <small>
                <a href="https://vk.com/ratsrecords" target="_blank" class="red">v</a>
                <a href="https://soundcloud.com/varloc2000" target="_blank" class="orange">a</a>
                <a href="mailto:varloc2000@gmail.com" target="_blank" class="yellow">r</a>
                <a href="#green" target="_blank" class="green">l</a>
                <a href="#blue" target="_blank" class="blue">o</a>
                <a href="#blue-dark" target="_blank" class="blue-dark">c</a>
                <a href="#purple" target="_blank" class="number purple">2000</a> (2013 - {{ 'now'|date('Y') }}) &copy;
            </small>
        </div>
    </div>
</footer>
