<nav class="rr-top-menu navbar navbar-default navbar-fixed-top">
    <a href="#first" class="rr-logo rr-scroller" title="Rats Records">
        <span></span>
        {# Here logo with css #}
    </a>
    <div class="text-right">
        <button
            type="button"
            class="btn btn-sm navbar-toggler hidden-sm-up navbar-toggle-btn"
            data-toggle="collapse"
            data-target="#rr-nav-toogleable"
            title="Меню"
        >
            <span class="fa fa-th"></span>
        </button>
    </div>
    <div id="rr-nav-toogleable" class="collapse navbar-toggleable-xs pull-right">
        <ul class="nav navbar-nav list-inline">
            <li>
                <a href="#latest" class="rr-scroller">Последнее</a>
            </li>
            <li>
                <a href="#playlist" class="rr-scroller">Записи</a>
            </li>
            <li>
                <a href="#photos" class="rr-scroller">Фото</a>
            </li>
        </ul>
    </div>
</nav>