{% extends 'layout.html.twig' %}

{% block content %}
    <div class="lesson">
        <header>
            <h3 class="retro shade">
                О том , что тут происходит
            </h3>
        </header>
        <p class="content">
            {{ include('about.html') }}
        </p>
    </div>
{% endblock content %}