{% extends 'layout.html.twig' %}

{% block content %}
    <div class="lesson">
        <header>
            <h3 class="retro shade">
                Где мы прячемся
            </h3>
        </header>
        <p class="content">
            карта...
        </p>
    </div>
{% endblock content %}