{% extends 'layout.html.twig' %}

{% block content %}
    <div class="lesson">
        <header>
            <h3 class="retro shade">
                Рады вас видеть! Но не всех
            </h3>
        </header>
        <p class="content">
            <img src="app/public/images/main/ratty_velvet.png" title="Приветик">
        </p>
    </div>
{% endblock content %}