{#
    Main page content template
#}
{% spaceless %}

    {% include('_top_menu.html.twig') %}

    <div 
        id="first"
        class="rr-section" 
        data-type="background"
        data-speed="2"
        data-direction="-"
        data-image-src="app/public/images/promo/1_sm.JPG"
    >
        <div class="rr-section-content text-center">
            <p class="content">
                <!-- <img class="rr-promo" src="app/public/images/main/ratty_velvet_bless.png" title="RR" width="230px"> -->
                <!-- <img class="rr-promo" src="app/public/images/logo/logo 2.svg" title="RR" width="280px"> -->
            </p>
            <header>
                <h3>
                    <!-- Рады Вас видеть! Но не всех. -->
                </h3>
            </header>
        </div>
        {% include('_navbar.html.twig') %}
    </div>

    <div id="latest" class="rr-section">
        <div class="rr-section-content">
            {%- include('_block_records.html.twig') -%}
        </div>
    </div>

    <div class="rr-section separator separator-one">
        <div class="rr-section-content tv">
            {%- include('_block_about.html.twig') -%}
        </div>
    </div>

    <div id="playlist" class="rr-section">
        <div class="rr-section-content">
            {%- include('_block_playlist.html.twig') -%}
        </div>
    </div>

    <div class="rr-section separator separator-two">
        <div class="rr-section-content tv">
            {%- include('_block_about_two.html.twig') -%}
        </div>
    </div>

    <div id="photos" class="rr-section">
        <div class="rr-section-content">
            {%- include('_block_gallery.html.twig') -%}
        </div>
    </div>

    <div id="fifth" class="rr-section separator">
        <div class="rr-section-content tv">
            {%- include('_block_mail.html.twig') -%}
        </div>
    </div>

    {%- include('_footer.html.twig') -%}

    {# Hidden flashes prototype #}
    <div 
        id="rr-flash-notice-prototype" 
        class="rr-flash-notice alert alert-dismissible fade in" 
        role="alert" 
        style="display: none;"
    >
        {# Flash message here #}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    {# End Hidden flashes prototype #}

    {# Hidden translations #}
    <div id="rr-translations">
        {% set translations = {
                'email_limit_min_error': 'Коротковат email! Хотя бы пять символов.',
                'email_limit_max_error': 'Слишком много! Не больше ста символов.!',
                'email_format_error': 'Не совсем валидный email! Поправить бы..',
                'feedback_limit_min_error': 'Ну хотя бы пять буковок осильте!',
                'feedback_limit_max_error': 'Слишком много! Прочту не более 6000 симфолов =)',
                'name_limit_min_error': 'Имя одной буквой? Серьезно?',
                'name_limit_max_error': 'Слишком много! 100 символов максимум.',
                'required_field': 'Без этого поля не отправлюсь.'
        } %}
        {% for id, message in translations %}
            <span id="{{ id }}">{{ message }}</span>
        {% endfor %}
    </div>
    {# End translations #}

    <script src="/app/public/js/dist/content.min.js" type="text/javascript"></script>
{% endspaceless %}