{% extends 'layout.html.twig' %}

{% block container %}
    <div class="rr-loading-stage">
        <div class="spotlights">
            {# <div class="spotlight light1"></div>
            <div class="spotlight light2"></div>
            <div class="spotlight light3"></div>
            <div class="conc-group">
                <div class="conc light1-conc"></div>
                <div class="conc light2-conc"></div>
                <div class="conc light3-conc"></div>
            </div> #}
        </div>
        <div class="rr-welcome">Rats Records</div>
        <div class="rr-loading-message">Loading...</div>
        {{ include('lights.html.twig') }}
    </div>
{% endblock container %}