<ul class="rr-top-menu">
    <li class="dropdown">
        <a class="blue-main" href="#">Радуги?</a>
        <ul>
            {% set rainbow = {
                "red": 'Каждый',
                "orange": 'Охотник',
                "yellow": 'Желает',
                "green": 'Знать',
                "blue": 'Где',
                "blue-dark": 'Сидит',
                "purple": 'Фазан'
            } %}
            {% for class, name in rainbow %}
                <li class="{{ class }}">
                    <a href="#{{ class }}" class="rr-scroller">{{ name }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>