{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/app/public/css/wtf_style.css" />
{% endblock stylesheets %}

{% block main_menu %}
    {# Dont display menu #}
{% endblock main_menu %}

{% block introduction %}
    {# Dont display intro #}
{% endblock introduction %}

{% block content %}
    <div class="boogie">
        <span>4</span>
        <div class="zero-cheese">
        </div>
        <span>4</span>
        <div class="rr-main-info">
            <p>Страничка пропала <span class="smile">=(</span></p>
        </div>
    </div>
{% endblock content %}